<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vue量算</title>

    <!--  引入 vue-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <!--  引入 Cesium-->
    <link href="http://support.supermap.com.cn:8090/webgl/Build/Cesium/Widgets/widgets.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://support.supermap.com.cn:8090/webgl/Build/Cesium/Cesium.js"></script>

    <!--  引入 图标样式-->
    <link href="http://support.supermap.com.cn:8090/webgl/examples/component/css/geoFont/iconfont.css" rel="stylesheet">

    <!--  引入 SuperMap配置文件-->
    <script src="http://support.supermap.com.cn:8090/webgl/examples/js/tooltip.js"></script>
    <script src="http://support.supermap.com.cn:8090/webgl/examples/js/config.js"></script>

    <!--  引入 第三方库-->
    <script src="http://support.supermap.com.cn:8090/webgl/examples/js/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
    <script src="//unpkg.com/view-design/dist/iview.min.js"></script>

    <!--  引入 vue-iclient3d-webgl 组件的库-->
    <script src="http://support.supermap.com.cn:8090/webgl/examples/component/js/vue-iclient3d-webgl.min.js"></script>


    <style type="text/css">
        html,
        body,
        #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            color: #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <sm-viewer :scene-url="URL">
        <sm3d-measure></sm3d-measure>
    </sm-viewer>
</div>


<script>
    let vm = new Vue({
        el: '#app',
        data: {
            URL: "http://www.supermapol.com/realspace/services/3D-ZF_normal/rest/realspace"
        }
    });
</script>
</body>
</html>
