<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>裁剪分析</title>

    <!--  引入 图标样式-->
    <link href="./css/geoFont/iconfont.css" rel="stylesheet">

    <!--  引入 Cesium vue-->
    <link href="../../Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="../../Build/Cesium/Cesium.js"></script>
    <script src="../js/vue.min.js"></script>

    <!--  引入supermap配置-->
    <script src="../js/config.js"></script>
    <script src="../js/tooltip.js"></script>

    <!--  引入view-design控件库 -->
    <link rel="stylesheet" href="../js/iview/styles/iview.css">
    <script src="../js/iview/iview.min.js"></script>

    <!--  引入第三方库 -->
<!--    <script src="../js/axios.min.js"></script>-->

    <!--  引入组件库 -->
    <script src="./js/vue-iclient3d-webgl.min.js"></script>

</head>
<body>
<div id="app">
 <sm-viewer :scene-url="sceneURL" :combination="true">
           <sm3d-clip-box slot="combination"></sm3d-clip-box>
           <sm3d-clip-plane slot="combination"></sm3d-clip-plane>
           <sm3d-clip-cross slot="combination"></sm3d-clip-cross>
           <sm3d-clip-polygon slot="combination"></sm3d-clip-polygon>
 </sm-viewer>
</div>
<script>
  new Vue({
    el:'#app',
    data: {
       sceneURL:URL_CONFIG.SCENE_WIREFRAME,
    }
  })
</script>
</body>
</html>



